<h1> Total Items Found:  </h1>
<section class="search-results">
  <table>
    <% @top_ten_foods.each do |food| %>
      <div id="food-<%= food.id %>">
        <tr>
          <td>Description: <%= food.description %></td>
          <td>Brand Owner:</td>
          <td>
            <ul>
              <% food.ingredients.each do |ingredient| %>
                <li><%= ingredient %>
              <% end %>
            </ul>
          </td>
        </tr>
      </div>
    <% end %>
  </table>
</section>